/*html {
background-color: #1c1b18;
color: #eae0c2;
font-size: 15px;
font-family: Arial;
} */
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  list-style-type: none;
  text-decoration: none;
  font-family: "Montserrat", serif;
  border: none;
  outline: none;
}

.search-engine {
  background: rgba(255, 255, 255, 0);
}

@keyframes framIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes framOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.containerAlpha {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
}

.buttonClass {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: Arial;
  width: 140px;
  height: 50px;
  border-width: 2px;
  color: #505739;
  border-color: #333029;
  font-weight: bold;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 1px 0px 0px #1c1b18;
  text-shadow: 0px 1px 0px #ffffff;
  background: linear-gradient(#eae0c2, #ccc2a6);
}

.buttonClass:hover {
  background: linear-gradient(#ccc2a6, #eae0c2);
}

.buttonClass:active {
  width: 130px;
  height: 45px;
}

.titleInput {
  padding: 10px;
  border-radius: 15px;
  background-color: #333029;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.input {
  font-size: 18px;
  padding: 5px 10px;
  width: 100%;
  outline: none;
  background-color: #1c1b18;
  color: #eae0c2;
  border: 1px solid #eae0c2;
  border-radius: 5px;
  transition: 0.3s ease;
}

.input:focus {
  background: #1c1b18;
  border: 1px solid #eae0c2;
  border-radius: 10px;
}

.input::-moz-placeholder {
  color: rgba(234, 224, 194, 0.6235294118);
  font-style: italic;
}

.input::placeholder {
  color: rgba(234, 224, 194, 0.6235294118);
  font-style: italic;
}

#editorjs {
  width: 100%;
}

.codex-editor__redactor {
  padding-left: 0;
  padding-top: 25px !important;
  padding-bottom: 150px !important;
}

.ce-block__content {
  max-width: 100%;
}

.ce-toolbar__content {
  max-width: 100%;
}

.buttonContainer {
  padding: 10px;
  border-radius: 15px;
  background-color: #333029;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.article-actions,
.article-actions * {
  display: flex;
  flex-direction: row;
}

.article-actions {
  padding: 10px;
}

.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.imageEditor {
  height: 300px;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

.carousel-images {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.carousel-image {
  display: none;
  position: relative;
}

.carousel-image.active {
  display: block;
}

.carousel-image img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.remove-image {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.item-line {
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  flex-direction: column;
}
.header .head-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.header .head-block .number-text {
  font-weight: 600;
  color: #252774;
}
.header .search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.header .search .sear-block {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 70%;
  background: #F1F1F1;
  padding: 8px;
  border-radius: 8px;
}
.header .search .sear-block .search-engine {
  width: 100%;
  font-weight: 500;
}
.header .search .location {
  display: flex;
  align-items: center;
}
.header .search .location .locat-img {
  width: 14px;
  height: 14px;
}
.header .search .location .loca-city_text {
  font-size: 8px;
  font-weight: 600;
  color: #252774;
}
.header .auto-adap_block {
  background: #8bc0f6;
}
.header .auth-block {
  display: flex;
  justify-content: space-between;
  padding: 0px 25px;
}
.header .auth-block .le-auto_block {
  padding: 5px 0px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header .auth-block .le-auto_block .text-auth {
  color: #ffffff;
  font-weight: 600;
}
.header .auth-block .le-auto_block .intro-text {
  color: #ffffff;
  font-size: 8px;
}
.header .auth-block .le-auto_block .entrance-bottom {
  width: 50%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 4px 10.5px rgba(255, 255, 255, 0.2);
}
.header .auth-block .le-auto_block .entrance-bottom .ent-text {
  color: #8bc0f6;
  font-weight: 500;
  font-size: 8px;
}

.text-navigation {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.text-navigation #text-nav {
  color: #C3C3C3;
  font-size: 8px;
}
.text-navigation #text-nav-fat {
  padding: 15px 0px 0px 0px;
  font-size: 10px;
  color: #252774;
  font-weight: 600;
}

.products-h {
  min-width: 90%;
  display: flex;
  padding: 10px;
  gap: 15px;
  overflow-x: auto;
}
.products-h .product_img {
  width: 78px;
  height: 82px;
}

.products-h::-webkit-scrollbar {
  display: none;
}

#prod-block {
  min-width: 280px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.164);
  background: #ffffff;
  padding: 10px 20px;
}
#prod-block .le-prod_block {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#prod-block .le-prod_block .big-text_product {
  color: #238af3;
  font-weight: 600;
}
#prod-block .le-prod_block .small-text-product {
  font-size: 8px;
  color: #8bc0f6;
}
#prod-block .le-prod_block .but-prod_detal {
  width: 45%;
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #238af3;
  border-radius: 3px;
}
#prod-block .le-prod_block .but-prod_detal p {
  color: #238af3;
  font-size: 8px;
  font-weight: 600;
}
#prod-block .ri-prod_block {
  display: flex;
  justify-content: center;
  align-items: center;
}
#prod-block .ri-prod_block .product_img {
  width: 80px;
  height: 80px;
}

.le-prod_bl_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px 0px 0px;
}
.le-prod_bl_bottom .but-prod_pocr {
  width: 45%;
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #238af3;
  border-radius: 3px;
}
.le-prod_bl_bottom .but-prod_pocr p {
  color: #238af3;
  font-size: 8px;
  font-weight: 600;
}
.le-prod_bl_bottom .le-block_color {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.le-prod_bl_bottom .le-block_color p {
  color: #8bc0f6;
  font-size: 8px;
}
.le-prod_bl_bottom .le-block_color .bl-color {
  width: 13px;
  height: 13px;
  border: 1px solid #DEDEDE;
  border-radius: 3px;
}

.products-v {
  display: flex;
  flex-direction: column;
  padding: 0px 10px 10px 10px;
  gap: 15px;
}
.products-v .text-category {
  display: flex;
  align-items: center;
  gap: 10px;
}
.products-v .text-category .text-cat {
  font-size: 10px;
  font-weight: 600;
  color: #252774;
}
.products-v .products-block_bench {
  height: 0;
  display: none;
  gap: 0;
  flex-direction: column;
}

.block-new_info {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 15px;
  background-image: url("../img/image%20129.png");
  background-position: center;
  background-size: cover;
  box-shadow: inset 0px -90px 80px 0px rgba(0, 0, 0, 0.808);
  transition: 0.3s;
  margin-bottom: 15px;
}
.block-new_info .info-block_left {
  max-width: 230px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.block-new_info .info-block_left .news-text_title {
  color: #ffffff;
  font-size: 10px;
  font-weight: 600;
}
.block-new_info .info-block_left .news-text_description {
  color: #ffffff;
  font-size: 8px;
  font-weight: 400;
}
.block-new_info .info-block_left .news-text_date {
  color: #ffffff;
  font-size: 10px;
  font-weight: 500;
}

.questions {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
}
.questions .ques-block {
  display: flex;
  flex-direction: column;
}
.questions .ques-block .ques-block_text {
  height: 50px;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.2);
  padding: 0px 20px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
}
.questions .ques-block .ques-block_text .ques-text {
  font-size: 8px;
  font-weight: 500;
  color: #252774;
}
.questions .ques-block .ques-block_text .ques-plus_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(143, 143, 143, 0);
  cursor: pointer;
}
.questions .ques-block .ques-floating_block {
  height: 0;
  overflow: hidden;
  position: relative;
  top: -15px;
  display: none;
  padding: 0px 20px;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background: #ffffff;
  transition: height 0.5s ease, padding 0.5s ease;
}
.questions .ques-block .ques-floating_block .text-floating_block {
  margin-top: 10px;
  color: #252774;
  font-size: 8px;
  font-weight: 500;
}

.application_adap {
  display: flex;
  justify-content: center;
  background: #252774;
}

.application {
  width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px 30px 20px;
  gap: 15px;
}
.application .appli-text {
  display: flex;
  padding: 10px;
  justify-content: center;
  font-weight: 500;
  color: #ffffff;
}
.application .fillong-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.application .fillong-fields #fill-text {
  font-weight: 500;
  color: #ffffff;
}
.application .fillong-fields .fill-engine {
  padding: 8px;
  border-radius: 8px;
}
.application .checkbox-block {
  display: flex;
  gap: 15px;
  padding: 10px;
}
.application .checkbox-block .check-text {
  color: #ffffff;
}
.application .appli-block {
  display: flex;
  justify-content: center;
}
.application .appli-block .appli-button {
  padding: 7px 35px;
  border: 1.5px solid #ffffff;
  border-radius: 3px;
}
.application .appli-block .appli-button p {
  color: #ffffff;
  font-weight: 500;
}

.maps {
  height: 180px;
  background: #238af3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  background: #252774;
  padding: 10px 20px;
  gap: 15px;
}
.footer .foot-top {
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #363888;
}
.footer .foot-top .oper-text {
  color: #ffffff;
  font-weight: 500;
}
.footer .foot-middle {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #363888;
  gap: 20px;
}
.footer .foot-middle #foot-elemets {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer .foot-middle #foot-elemets #middle-text {
  color: #ffffff;
  font-size: 8px;
  font-weight: 500;
}
.footer .foot-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.footer .foot-bottom #bottom-text {
  font-size: 8px;
  font-weight: 500;
  color: #D0D0D0;
}

body {
  display: flex;
  justify-content: center;
  background: #7B7B7B;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #F1F1F1;
}

::-webkit-scrollbar-thumb {
  background: #c7c7c7;
}

.main-block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #fff;
}
.main-block .menu {
  min-width: 90%;
  padding: 10px;
  gap: 15px;
  overflow-y: auto;
  display: flex;
}
.main-block .menu #menu--content {
  min-width: 68px;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #238af3;
  border-radius: 8px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.main-block .menu #menu--content .text-bm {
  color: #ffffff;
  font-weight: 600;
}
.main-block .menu::-webkit-scrollbar {
  display: none;
}
.main-block #text-name_prod {
  font-weight: 600;
  color: #252774;
  padding: 10px;
}
.main-block .partners {
  min-width: 90%;
  display: flex;
  padding: 10px;
  gap: 15px;
  overflow-x: auto;
}
.main-block .partners #part-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}
.main-block .partners::-webkit-scrollbar {
  display: none;
}

.pop-up {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: start;
}
.pop-up .wind {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 25px 25px 15px 25px;
  gap: 20px;
  box-shadow: 0 0 10px rgba(12, 12, 12, 0.699);
  margin-top: 35px;
  border-radius: 10px;
}
.pop-up .wind .winform_poli {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.pop-up .wind .winform_poli .pass-reco_text {
  font-size: 6px;
  color: #8F8F8F;
}
.pop-up .wind .winform_poli .pass-reco_text #pass-reco_link {
  color: #252774;
  font-weight: 500;
}
.pop-up .poli_block {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.pop-up .poli_block .poli-block_input {
  width: 185px;
  padding: 7px 2px;
  font-size: 8px;
  font-weight: 450;
  outline: 1.5px solid #EBEBEB;
  border-radius: 3px;
}
.pop-up .poli_block .poli_error {
  display: none;
  color: rgb(168, 168, 168);
  font-size: 8x;
  font-weight: 500;
}
.pop-up .t-but {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pop-up .t-but p {
  text-align: left;
  font-size: 15px;
  font-weight: 600;
}
.pop-up .button_auth {
  padding: 7px 0px;
  background: #252774;
  border-radius: 4px;
  color: #ffffff;
}
.pop-up .text-but_transition {
  display: flex;
  justify-content: center;
}
.pop-up .text-but_transition p {
  color: #252774;
  font-weight: 550;
  transition: all 0.3s;
}
.pop-up .regist {
  display: none;
  flex-direction: column;
  background: #fff;
  padding: 25px 25px 15px 25px;
  gap: 20px;
  box-shadow: 0 0 10px rgba(12, 12, 12, 0.699);
  margin-top: 35px;
  border-radius: 10px;
}
.pop-up .regist .regform_poli {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.pop-up .regist .regform_poli .password-input {
  width: 185px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 2px;
  outline: 1.5px solid #EBEBEB;
  border-radius: 3px;
}
.pop-up .regist .regform_poli .password-input .repeat_pass {
  width: 85%;
  font-size: 8px;
  font-weight: 450;
}
.pop-up .regist .regform_poli .password-input #Eaysclick {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.pop-up .regist .regform_poli .password-input #Eaysclick .eays {
  width: 13px;
  height: 13px;
}

.pop-up.openPop {
  animation: framIn 0.4s ease-in-out;
}

.pop-up.closePop {
  animation: framOut 0.4s ease-in-out;
}

.popup-block_menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: start;
}
.popup-block_menu .block_menu {
  margin-top: 30px;
  width: 170px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 4px;
}
.popup-block_menu .block_menu .up-block_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #252774;
  padding: 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.popup-block_menu .block_menu .up-block_menu .block-menu-logo_img {
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #ffffff;
}
.popup-block_menu .block_menu .up-block_menu .block-menu-logo_img .menu-logo_img {
  width: 18px;
  height: 18px;
}
.popup-block_menu .block_menu .up-block_menu .menu-text_num {
  font-size: 10px;
  font-weight: 550;
  color: #ffffff;
}
.popup-block_menu .block_menu .up-block_menu .close-menu {
  width: 9px;
  height: 9px;
}
.popup-block_menu .block_menu .botton-block_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 15px 0px 25px 0px;
}
.popup-block_menu .block_menu .botton-block_menu .text-bot_menu {
  font-size: 10px;
  font-weight: 600;
  color: #252774;
}
.popup-block_menu .block_menu .botton-block_menu .text-bot_menu:hover {
  color: #238af3;
}

.popup-block_menu.openMenu {
  animation: framIn 0.4s ease-in-out;
}

.popup-block_menu.closeMenu {
  animation: framOut 0.4s ease-in-out;
}

.popup-block_city {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: start;
}
.popup-block_city .block_city {
  width: 240px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: #fff;
  margin-top: 30px;
}
.popup-block_city .block_city .up-block_city {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: #F1F1F1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.popup-block_city .block_city .up-block_city p {
  color: #7B7B7B;
  font-size: 8px;
  font-weight: 600;
}
.popup-block_city .block_city .up-block_city .clous-botton_city {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-block_city .block_city .botton-block_city {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.popup-block_city .block_city .botton-block_city .sear-block {
  background: #F1F1F1;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border-radius: 6px;
}
.popup-block_city .block_city .botton-block_city .sear-block .sear-img {
  width: 15px;
  height: 15px;
}
.popup-block_city .block_city .botton-block_city .sear-block .city-engine {
  width: 100%;
  background: #F1F1F1;
}
.popup-block_city .block_city .botton-block_city .sear-block .city-engine::-moz-placeholder {
  font-size: 8px;
  font-weight: 500;
  color: #7B7B7B;
}
.popup-block_city .block_city .botton-block_city .sear-block .city-engine::placeholder {
  font-size: 8px;
  font-weight: 500;
  color: #7B7B7B;
}
.popup-block_city .block_city .botton-block_city .form-block_city {
  height: 130px;
  display: flex;
  margin-top: 15px;
}
.popup-block_city .block_city .botton-block_city .form-block_city .list-text_city {
  width: 100%;
  overflow-y: auto;
}
.popup-block_city .block_city .botton-block_city .form-block_city .list-text_city .block-text_city {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup-block_city .block_city .botton-block_city .form-block_city .list-text_city .block-text_city .text-city {
  font-size: 8px;
  color: black;
  font-weight: 500;
}

.popup-block_city.openCity {
  animation: framIn 0.4s ease-in-out;
}

.popup-block_city.closeCity {
  animation: framOut 0.4s ease-in-out;
}

.arrow-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.button-arrow_img {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(123, 123, 123, 0);
  cursor: pointer;
}

.inverted-arrow_block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
}

.products-v_pocr {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 35px rgba(0, 0, 0, 0.1);
  padding: 10px;
  gap: 15px;
}
.products-v_pocr .text-category_pocr {
  display: flex;
  align-items: center;
  padding: 0px 0px 10px 0px;
  gap: 10px;
}
.products-v_pocr .text-category_pocr .text-cat {
  font-size: 10px;
  font-weight: 600;
  color: #252774;
}

.fat-block {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.fat-block .star-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-form {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0) 5%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  gap: 15px;
}
.product-form .product-form_img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-form .product-form_img .product-img_block {
  width: 170px;
  height: 170px;
}
.product-form .product-form_table {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-form .product-form_table .product-table_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-form .product-form_table .product-table_line .product-line_left {
  max-width: 175px;
  font-size: 10px;
  font-weight: 500;
  color: #252774;
}
.product-form .product-form_table .product-table_line .product-line_right {
  max-width: 130px;
  font-size: 8px;
  text-align: right;
  font-weight: 500;
  color: #7B7B7B;
}
.product-form .product-form_table .product-block_table {
  display: none;
  flex-direction: column;
  gap: 0px;
}
.product-form .sketch_block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0px 0px 0px;
  border-top: 1px solid #EBEBEB;
}
.product-form .sketch_block .sketch-name_block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-form .sketch_block .sketch-name_block .sketch-name_text {
  font-size: 10px;
  font-weight: 500;
  color: #252774;
}
.product-form .sketch_block .sketch-name_block .sketch-dep_text {
  font-size: 8px;
  font-weight: 500;
  color: #7B7B7B;
}

.product-button_block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  gap: 10px;
}
.product-button_block .product-button_app {
  width: 25%;
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #238af3;
  border-radius: 3px;
}
.product-button_block .product-button_app p {
  color: #238af3;
  font-size: 8px;
  font-weight: 600;
}
.product-button_block .product-button_mark {
  width: 25%;
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #238af3;
  border-radius: 3px;
}
.product-button_block .product-button_mark p {
  color: #ffffff;
  font-size: 8px;
  font-weight: 500;
}

.product-reliability_block {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.product-reliability_block .relib-block_info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.product-reliability_block .relib-block_info .block-info_relib {
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-reliability_block .relib-block_info .block-info_relib .text-relib {
  color: #252774;
  font-size: 10px;
  font-weight: 600;
}
.product-reliability_block .relib-block_info .block-info-description {
  color: #7B7B7B;
  font-size: 8px;
  font-weight: 500;
}
.product-reliability_block .relib-block_feature {
  display: flex;
  padding: 0px 10px;
  gap: 10px;
}
.product-reliability_block .relib-block_feature .text-feature {
  color: #7B7B7B;
  font-size: 8px;
  font-weight: 500;
}

.other-goods_text {
  display: flex;
  padding: 5px 20px;
}
.other-goods_text p {
  color: #252774;
  font-size: 10px;
  font-weight: 600;
}

.filter-year_block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 10px;
}
.filter-year_block .year-block_text {
  color: #C3C3C3;
  font-size: 8px;
}

.news_block {
  max-height: 380px;
  display: flex;
  flex-direction: column;
  background: #F1F1F1;
  padding: 10px 10px 0px 10px;
  gap: 15px;
}
.news_block .news_list {
  padding: 10px 10px 0px 0px;
  overflow-y: auto;
}

.other-news_text {
  font-size: 10px;
  color: #B3B3B3;
  font-weight: 500;
}

.item_block {
  display: flex;
  flex-direction: column;
}
.item_block .item-info_block {
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  gap: 10px;
}
.item_block .item-info_block .item-text_block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item_block .item-info_block .item-text_block .text-info_item {
  font-size: 8px;
  font-weight: 500;
}
.item_block .item-info_block .item-date_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item_block .item-info_block .item-date_block .date-item {
  color: #C3C3C3;
  font-size: 8px;
  font-weight: 500;
}

.aboutus_adap {
  display: flex;
  flex-direction: column;
}
.aboutus_adap .aboutus-info_block {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.aboutus_adap .aboutus-info_block .aboutus-text_block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}
.aboutus_adap .aboutus-info_block .aboutus-text_block .text-info_aboutus {
  font-size: 8px;
  font-weight: 500;
}
.aboutus_adap .aboutus-info_block .aboutus-quote_block {
  display: flex;
  gap: 15px;
  padding: 20px 15px;
  background: #252774;
}
.aboutus_adap .aboutus-info_block .aboutus-quote_block .text_quote_block {
  color: #ffffff;
  font-size: 8px;
  font-weight: 500;
}
.aboutus_adap .aboutus-info_block .aboutus-feature_block {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
}
.aboutus_adap .aboutus-info_block .aboutus-feature_block .feature-aboutus_circle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutus_adap .aboutus-info_block .aboutus-feature_block .feature-aboutus_circle .feature-circle_block {
  width: 67px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.aboutus_adap .aboutus-info_block .aboutus-feature_block .feature-aboutus_circle .feature-circle_block .circle-feature_block {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #252774;
  border-radius: 100px;
}
.aboutus_adap .aboutus-info_block .aboutus-feature_block .feature-aboutus_circle .feature-circle_block .text_feature {
  font-size: 10px;
  color: #252774;
  font-weight: 600;
}
.aboutus_adap .aboutus-info_block .aboutus-feature_block .feature-aboutus_circle .feature_line {
  width: 25px;
  height: 3px;
  background: #252774;
  border-radius: 5px;
  margin-bottom: 20px;
}

.personal-block {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 15px 10px;
  margin: 10px 10px 0px 10px;
  border-bottom: 1px solid #EBEBEB;
}
.personal-block .personal-cont_left {
  display: flex;
  gap: 10px;
}
.personal-block .personal-cont_left .personal-user_photo {
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #D9D9D9;
  border-radius: 100px;
}
.personal-block .personal-cont_left .user-states_block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.personal-block .personal-cont_left .user-states_block .user-text {
  max-width: 100px;
  font-size: 10px;
  color: #252774;
  font-weight: 600;
}
.personal-block .personal-cont_left .user-states_block .states-text {
  padding-top: 15px;
  font-size: 8px;
  color: #D9D9D9;
}
.personal-block .personal-cont-right {
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #D9D9D9;
  border-radius: 100px;
}

.personal-settings {
  display: flex;
  flex-direction: column;
  padding: 0px 10px 15px 10px;
  margin: 10px 10px 0px 10px;
  gap: 10px;
  border-bottom: 1px solid #EBEBEB;
}
.personal-settings .personal-settings_text {
  font-size: 8px;
  color: #D9D9D9;
}
.personal-settings .personal-parameters_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.personal-settings .personal-parameters_block .parameters-text {
  font-size: 10px;
  color: #252774;
  font-weight: 500;
}
.personal-settings .personal-parameters_block .switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 18px;
}
.personal-settings .personal-parameters_block .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.personal-settings .personal-parameters_block .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}
.personal-settings .personal-parameters_block .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
.personal-settings .personal-parameters_block input:checked + .slider {
  background-color: #2196F3;
}
.personal-settings .personal-parameters_block input:checked + .slider:before {
  transform: translateX(16px);
}

.sorting-filter_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 5px 10px;
}
.sorting-filter_block .sorting-filter_text {
  font-size: 8px;
  color: #D9D9D9;
}

.save-goods_block {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px 10px 10px;
}
.save-goods_block .save-goods_text {
  font-size: 10px;
  color: #252774;
  font-weight: 600;
}

.save-products_block {
  max-height: 380px;
  display: flex;
  flex-direction: column;
  background: #F7F7F7;
  padding: 10px 10px 0px 10px;
  gap: 15px;
}

.save-paper_block {
  max-height: 380px;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 10px 10px 0px 10px;
  gap: 10px;
}
.save-paper_block .save-articles_block {
  display: flex;
  align-items: center;
  gap: 10px;
}
.save-paper_block .save-articles_block .save-articles_text {
  font-size: 10px;
  color: #252774;
  font-weight: 600;
}

.save_list_block {
  padding: 10px 10px 0px 0px;
  overflow-y: auto;
}

.prod-maping_block {
  margin-left: 10px;
  margin-bottom: 10px;
}

@media (min-width: 1024px) {
  .main-block {
    width: 100%;
  }
  .main-block .header {
    align-items: center;
  }
  .main-block .header .head-block {
    width: 1000px;
    padding: 10px 0px 0px 0px;
  }
  .main-block .header .head-block .number-text {
    font-size: 20px;
  }
  .main-block .header .head-block .logo_company {
    width: 88px;
    height: 69px;
  }
  .main-block .header .head-block .swap-menu_img {
    width: 50px;
    height: 36px;
  }
  .main-block .header .search {
    width: 1000px;
    padding: 10px 0px;
  }
  .main-block .header .search .sear-block {
    width: 80%;
    padding: 14px 18px;
    gap: 20px;
    border-radius: 14px;
  }
  .main-block .header .search .sear-block .sear-img {
    width: 36px;
    height: 36px;
  }
  .main-block .header .search .sear-block .search-engine {
    font-size: 20px;
  }
  .main-block .header .search .location .locat-img {
    width: 38px;
    height: 38px;
  }
  .main-block .header .search .location .loca-city_text {
    font-size: 20px;
  }
  .main-block .header .auto-adap_block {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .main-block .header .auto-adap_block .auth-block {
    width: 1000px;
    justify-content: start;
    gap: 150px;
    padding: 0px;
  }
  .main-block .header .auto-adap_block .auth-block .le-auto_block {
    width: 35%;
    padding: 20px 0px;
    justify-content: space-between;
  }
  .main-block .header .auto-adap_block .auth-block .le-auto_block .text-auth {
    font-size: 25px;
  }
  .main-block .header .auto-adap_block .auth-block .le-auto_block .intro-text {
    font-size: 20px;
  }
  .main-block .header .auto-adap_block .auth-block .le-auto_block .entrance-bottom {
    width: 250px;
    height: 50px;
    border-radius: 8px;
    margin-top: 25px;
  }
  .main-block .header .auto-adap_block .auth-block .le-auto_block .entrance-bottom .ent-text {
    font-size: 25px;
    font-weight: 550;
  }
  .main-block .header .auto-adap_block .auth-block .ri-auto_img {
    height: 220px;
  }
  .main-block .menu_adap {
    display: flex;
    justify-content: center;
  }
  .main-block .menu_adap .menu {
    min-width: 0;
  }
  .main-block .menu_adap .menu {
    width: 1000px;
    padding: 20px 0px 10px 0px;
    gap: 30px;
  }
  .main-block .menu_adap .menu #menu--content {
    min-width: 170px;
    min-height: 120px;
    border-radius: 20px;
  }
  .main-block .menu_adap .menu #menu--content .text-bm {
    font-size: 20px;
  }
  .main-block .menu_adap .menu #menu--content .img-bm {
    width: 65px;
    height: 65px;
  }
  .main-block .products-h_adap {
    display: flex;
    justify-content: center;
  }
  .main-block .products-h_adap .products-h {
    min-width: 0;
  }
  .main-block .products-h_adap .products-h {
    max-width: 1000px;
    gap: 30px;
    padding: 10px;
  }
  .main-block .products-h_adap .products-h #prod-block {
    min-width: 570px;
    padding: 20px 40px;
    border-radius: 20px;
  }
  .main-block .products-h_adap .products-h #prod-block .le-prod_block {
    max-width: 360px;
  }
  .main-block .products-h_adap .products-h #prod-block .le-prod_block .big-text_product {
    font-size: 25px;
  }
  .main-block .products-h_adap .products-h #prod-block .le-prod_block .small-text-product {
    font-size: 18px;
  }
  .main-block .products-h_adap .products-h #prod-block .le-prod_block .but-prod_detal {
    width: 50%;
    padding: 10px;
    border: 3px solid #238af3;
    border-radius: 6px;
  }
  .main-block .products-h_adap .products-h #prod-block .le-prod_block .but-prod_detal p {
    font-size: 18px;
  }
  .main-block .products-h_adap .products-h #prod-block .product_img {
    width: 180px;
    height: 190px;
  }
  .main-block .products-h_adap .products-h::-webkit-scrollbar {
    display: flex;
    height: 10px;
  }
  .main-block .partners_adap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-block .partners_adap #text-name_prod {
    width: 1000px;
    font-size: 25px;
  }
  .main-block .partners_adap .partners {
    min-width: 0;
  }
  .main-block .partners_adap .partners {
    max-width: 1000px;
    gap: 30px;
    overflow-x: auto;
  }
  .main-block .partners_adap .partners #part-block {
    border-radius: 15px;
  }
  .main-block .partners_adap .partners #part-block .partnes-img {
    width: 215px;
    height: 100px;
  }
  .main-block .partners_adap .partners::-webkit-scrollbar {
    display: flex;
    height: 10px;
  }
  .main-block .questions-adap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-block .questions-adap #text-name_prod {
    width: 1000px;
    font-size: 25px;
    padding: 20px;
  }
  .main-block .questions-adap .questions {
    width: 1000px;
    gap: 25px;
    padding: 20px 0;
  }
  .main-block .questions-adap .questions .ques-block_text {
    height: 100px;
    border-radius: 16px;
  }
  .main-block .questions-adap .questions .ques-block_text .ques-text {
    font-size: 20px;
    font-weight: 550;
  }
  .main-block .questions-adap .questions .ques-block_text .questions-img {
    width: 65px;
    height: 65px;
  }
  .main-block .questions-adap .questions .ques-floating_block {
    border-radius: 16px;
    top: -15px;
  }
  .main-block .questions-adap .questions .ques-floating_block .text-floating_block {
    font-size: 20px;
    font-weight: 450;
    padding: 20px;
  }
  .main-block .application {
    gap: 30px;
    padding: 20px 40px 60px 40px;
  }
  .main-block .application .appli-text {
    font-size: 20px;
  }
  .main-block .application .fillong-fields {
    gap: 20px;
  }
  .main-block .application .fillong-fields #fill-text {
    font-size: 20px;
  }
  .main-block .application .fillong-fields .fill-engine {
    padding: 14px;
    font-size: 20px;
    border-radius: 16px;
  }
  .main-block .application .checkbox-block {
    gap: 20px;
  }
  .main-block .application .checkbox-block #checkbox_app {
    width: 37px;
  }
  .main-block .application .checkbox-block .check-text {
    font-size: 20px;
  }
  .main-block .application .appli-button {
    padding: 14px 70px;
    border: 2px solid #ffffff;
    border-radius: 6px;
  }
  .main-block .application .appli-button p {
    font-size: 20px;
  }
  .main-block .map {
    height: 790px;
  }
  .main-block .footer {
    align-items: center;
    padding: 20px 0;
    gap: 30px;
  }
  .main-block .footer .foot-top {
    width: 1000px;
    border-bottom: 2.5px solid #363888;
    padding: 20px 0;
  }
  .main-block .footer .foot-top .oper-text {
    font-size: 25px;
  }
  .main-block .footer .foot-middle {
    width: 1000px;
    padding: 20px 0 40px 0;
    border-bottom: 2.5px solid #363888;
    gap: 40px;
  }
  .main-block .footer .foot-middle #foot-elemets #middle-text {
    font-size: 20px;
  }
  .main-block .footer .foot-bottom {
    width: 1000px;
    padding: 20px 0;
    gap: 20px;
  }
  .main-block .footer .foot-bottom #bottom-text {
    font-size: 20px;
  }
  .catalog_adap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .catalog_adap .products-v {
    width: 1000px;
    gap: 30px;
    padding: 0px 0px 20px 0px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0) 5%);
  }
  .catalog_adap .products-v .text-category {
    gap: 20px;
  }
  .catalog_adap .products-v .text-category .categ-img {
    width: 35px;
    height: 35px;
  }
  .catalog_adap .products-v .text-category .text-cat {
    font-size: 20px;
  }
  .catalog_adap .products-v #prod-block {
    padding: 20px 80px 20px 40px;
    border-radius: 20px;
  }
  .catalog_adap .products-v #prod-block .le-prod_block {
    max-width: 530px;
  }
  .catalog_adap .products-v #prod-block .le-prod_block .big-text_product {
    font-size: 25px;
  }
  .catalog_adap .products-v #prod-block .le-prod_block .small-text-product {
    font-size: 18px;
  }
  .catalog_adap .products-v #prod-block .le-prod_block .but-prod_detal {
    width: 40%;
    padding: 10px;
    border: 3px solid #238af3;
    border-radius: 6px;
  }
  .catalog_adap .products-v #prod-block .le-prod_block .but-prod_detal p {
    font-size: 18px;
  }
  .catalog_adap .products-v #prod-block .product_img {
    width: 180px;
    height: 190px;
  }
  .catalog_adap .products-v .products-block_bench #prod-block {
    margin-bottom: 15px;
  }
  .catalog_adap .products-v .arrow-block {
    margin-top: 0px;
  }
  .catalog_adap .products-v .arrow-block .arrow-img {
    height: 25px;
  }
  .catalog_adap .products-v_pocr {
    width: 1000px;
    padding: 20px 0;
    gap: 30px;
    box-shadow: none;
  }
  .catalog_adap .products-v_pocr .text-category_pocr {
    gap: 20px;
  }
  .catalog_adap .products-v_pocr .text-category_pocr .categ-img {
    width: 35px;
    height: 35px;
  }
  .catalog_adap .products-v_pocr .text-category_pocr .text-cat {
    font-size: 20px;
  }
  .catalog_adap .products-v_pocr #prod-block {
    padding: 20px 80px 20px 40px;
    border-radius: 20px;
  }
  .catalog_adap .products-v_pocr #prod-block .le-prod_block {
    max-width: 530px;
  }
  .catalog_adap .products-v_pocr #prod-block .le-prod_block .big-text_product {
    font-size: 25px;
  }
  .catalog_adap .products-v_pocr #prod-block .le-prod_block .small-text-product {
    font-size: 18px;
  }
  .catalog_adap .products-v_pocr #prod-block .le-prod_block .le-prod_bl_bottom {
    padding: 0;
  }
  .catalog_adap .products-v_pocr #prod-block .le-prod_block .le-prod_bl_bottom .but-prod_pocr {
    width: 40%;
    padding: 10px;
    border: 3px solid #238af3;
    border-radius: 6px;
  }
  .catalog_adap .products-v_pocr #prod-block .le-prod_block .le-prod_bl_bottom .but-prod_pocr p {
    font-size: 18px;
  }
  .catalog_adap .products-v_pocr #prod-block .le-prod_block .le-block_color {
    gap: 30px;
  }
  .catalog_adap .products-v_pocr #prod-block .le-prod_block .le-block_color p {
    font-size: 18px;
    font-weight: 550;
  }
  .catalog_adap .products-v_pocr #prod-block .le-prod_block .le-block_color .bl-color {
    width: 32px;
    height: 32px;
    border: 3px solid #DEDEDE;
    border-radius: 6px;
  }
  .catalog_adap .products-v_pocr #prod-block .product_img {
    width: 180px;
    height: 190px;
  }
  .text-navigation {
    width: 1000px;
    padding: 20px;
  }
  .text-navigation #text-nav {
    font-size: 20px;
  }
  .text-navigation #text-nav-fat {
    font-size: 25px;
  }
  .product_adap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product_adap .product-form {
    width: 1000px;
  }
  .product_adap .product-form .product-img_block {
    width: 420px;
    height: 420px;
  }
  .product_adap .product-form .product-form_table {
    gap: 20px;
  }
  .product_adap .product-form .product-form_table .product-line_left {
    font-size: 20px;
    max-width: 350px;
  }
  .product_adap .product-form .product-form_table .product-line_right {
    font-size: 18px;
    max-width: 300px;
  }
  .product_adap .product-form .product-form_table .arrow-img {
    height: 25px;
  }
  .product_adap .product-button_block {
    width: 1000px;
    padding: 10px 0;
  }
  .product_adap .product-button_block .product-button_app {
    width: 200px;
    padding: 10px 0;
    border-radius: 6px;
    border: 2px solid #238af3;
  }
  .product_adap .product-button_block .product-button_app p {
    font-size: 18px;
  }
  .product_adap .product-button_block .product-button_mark {
    width: 200px;
    padding: 10px 0;
    border-radius: 6px;
  }
  .product_adap .product-button_block .product-button_mark p {
    font-size: 18px;
  }
  .product_adap .product-reliability_block {
    width: 1000px;
    gap: 30px;
    padding: 30px 0;
  }
  .product_adap .product-reliability_block .relib-block_info {
    padding: 10px 0;
  }
  .product_adap .product-reliability_block .relib-block_info .text-relib {
    font-size: 20px;
  }
  .product_adap .product-reliability_block .relib-block_info img {
    width: 23px;
    height: 23px;
  }
  .product_adap .product-reliability_block .relib-block_info .block-info-description {
    font-size: 18px;
  }
  .product_adap .product-reliability_block .relib-block_feature {
    align-items: center;
  }
  .product_adap .product-reliability_block .relib-block_feature img {
    width: 23px;
    height: 23px;
  }
  .product_adap .product-reliability_block .relib-block_feature .text-feature {
    font-size: 18px;
  }
  .product_adap .other-goods_text {
    width: 1000px;
  }
  .product_adap .other-goods_text p {
    font-size: 20px;
  }
  .product_adap .products-h {
    min-width: 0;
  }
  .product_adap .products-h {
    max-width: 1000px;
    gap: 30px;
    padding: 20px;
  }
  .product_adap .products-h #prod-block {
    min-width: 570px;
    padding: 20px 40px;
    border-radius: 20px;
  }
  .product_adap .products-h #prod-block .le-prod_block {
    max-width: 360px;
  }
  .product_adap .products-h #prod-block .le-prod_block .big-text_product {
    font-size: 25px;
  }
  .product_adap .products-h #prod-block .le-prod_block .small-text-product {
    font-size: 18px;
  }
  .product_adap .products-h #prod-block .le-prod_block .but-prod_detal {
    width: 50%;
    padding: 10px;
    border: 3px solid #238af3;
    border-radius: 6px;
  }
  .product_adap .products-h #prod-block .le-prod_block .but-prod_detal p {
    font-size: 18px;
  }
  .product_adap .products-h #prod-block .product_img {
    width: 180px;
    height: 190px;
  }
  .product_adap .products-h::-webkit-scrollbar {
    display: flex;
    height: 10px;
  }
  .news_adap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .news_adap .filter-year_block {
    width: 1000px;
    align-items: center;
    padding: 10px 0;
  }
  .news_adap .filter-year_block .year-block_text {
    font-size: 20px;
  }
  .news_adap .filter-year_block img {
    width: 37px;
    height: 37px;
  }
  .news_block {
    align-items: center;
    max-height: 1100px;
    padding: 20px 0 0 0;
  }
  .news_block .news_list {
    width: 980px;
    padding: 0;
    padding-right: 20px;
  }
  .news_block .news_list .block-new_info {
    height: 420px;
    margin-bottom: 30px;
    padding: 30px;
    box-shadow: inset 0px -250px 120px 0px rgba(0, 0, 0, 0.85);
  }
  .news_block .news_list .block-new_info .info-block_left {
    max-width: 600px;
  }
  .news_block .news_list .block-new_info .info-block_left .news-text_title {
    font-size: 25px;
  }
  .news_block .news_list .block-new_info .info-block_left .news-text_description {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .news_block .news_list .block-new_info .info-block_left .news-text_date {
    font-size: 25px;
  }
  .news_block .news_list .block-new_info .info-block_right img {
    width: 47px;
    height: 47px;
  }
  .item_adap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item_adap .item_block {
    width: 1000px;
  }
  .item_adap .item_block .item-imt_block {
    height: 445px;
  }
  .item_adap .item_block .item-info_block {
    padding: 20px 0;
    gap: 30px;
  }
  .item_adap .item_block .item-info_block .item-text_block {
    gap: 20px;
  }
  .item_adap .item_block .item-info_block .item-text_block .text-info_item {
    font-size: 20px;
  }
  .item_adap .item_block .item-info_block .date-item {
    font-size: 20px;
  }
  .item_adap .item_block .item-info_block img {
    width: 39px;
    height: 56px;
  }
  .other-news_text {
    width: 1000px;
    padding-bottom: 25px;
    font-size: 25px;
  }
  .aboutus_adap {
    align-items: center;
  }
  .aboutus_adap .aboutus_img {
    width: 1000px;
    height: 445px;
  }
  .aboutus_adap .aboutus-info_block {
    width: 1000px;
    padding: 20px 0;
    gap: 20px;
  }
  .aboutus_adap .aboutus-info_block .aboutus-text_block {
    gap: 20px;
  }
  .aboutus_adap .aboutus-info_block .aboutus-text_block .text-info_aboutus {
    font-size: 20px;
  }
  .aboutus_adap .aboutus-info_block .aboutus-quote_block {
    padding: 40px 60px;
    gap: 30px;
  }
  .aboutus_adap .aboutus-info_block .aboutus-quote_block img {
    width: 130px;
    height: 130px;
  }
  .aboutus_adap .aboutus-info_block .aboutus-quote_block .text_quote_block {
    font-size: 20px;
    font-weight: 400;
  }
  .aboutus_adap .aboutus-info_block .aboutus-feature_block {
    padding: 40px 120px;
  }
  .aboutus_adap .aboutus-info_block .aboutus-feature_block .feature-aboutus_circle .feature-circle_block {
    width: 130px;
    gap: 20px;
  }
  .aboutus_adap .aboutus-info_block .aboutus-feature_block .feature-aboutus_circle .feature-circle_block .circle-feature_block {
    width: 145px;
    height: 145px;
    border: 6px solid #252774;
  }
  .aboutus_adap .aboutus-info_block .aboutus-feature_block .feature-aboutus_circle .feature-circle_block .circle-feature_block img {
    width: 63px;
    height: 63px;
  }
  .aboutus_adap .aboutus-info_block .aboutus-feature_block .feature-aboutus_circle .feature-circle_block .text_feature {
    font-size: 25px;
    font-weight: 650;
  }
  .aboutus_adap .aboutus-info_block .aboutus-feature_block .feature-aboutus_circle .feature_line {
    width: 60px;
    height: 7px;
  }
  .personal_adap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .personal_adap .personal-block {
    width: 1000px;
    border-bottom: 2.5px solid #EBEBEB;
    padding: 20px 20px 30px 20px;
    margin: 0;
  }
  .personal_adap .personal-block .personal-cont_left {
    gap: 20px;
  }
  .personal_adap .personal-block .personal-cont_left .personal-user_photo {
    width: 115px;
    height: 115px;
    border: 3px solid #D9D9D9;
  }
  .personal_adap .personal-block .personal-cont_left .personal-user_photo img {
    width: 90px;
    height: 90px;
  }
  .personal_adap .personal-block .personal-cont_left .user-states_block {
    justify-content: start;
  }
  .personal_adap .personal-block .personal-cont_left .user-states_block .user-text {
    max-width: 450px;
    font-size: 25px;
  }
  .personal_adap .personal-block .personal-cont_left .user-states_block .states-text {
    font-size: 20px;
  }
  .personal_adap .personal-block .personal-cont-right {
    width: 55px;
    height: 55px;
    border: 3px solid #D9D9D9;
  }
  .personal_adap .personal-block .personal-cont-right img {
    width: 28px;
    height: 28px;
  }
  .personal_adap .personal-settings {
    width: 1000px;
  }
  .personal_adap .sorting-filter_block {
    width: 1000px;
  }
  .personal_adap .save-goods_block {
    width: 1000px;
  }
  .save-products_block {
    display: flex;
    align-items: center;
    max-height: 820px;
  }
  .save-products_block .save_list_block {
    width: 1000px;
  }
  .save-products_block .save_list_block .prod-maping_block {
    padding: 0;
    padding-right: 20px;
    margin-left: 5px;
    margin-bottom: 20px;
  }
  .save-products_block .save_list_block .prod-maping_block #prod-block {
    padding: 20px 80px 20px 40px;
    border-radius: 20px;
  }
  .save-products_block .save_list_block .prod-maping_block #prod-block .le-prod_block {
    max-width: 360px;
  }
  .save-products_block .save_list_block .prod-maping_block #prod-block .le-prod_block .big-text_product {
    font-size: 25px;
  }
  .save-products_block .save_list_block .prod-maping_block #prod-block .le-prod_block .small-text-product {
    font-size: 18px;
  }
  .save-products_block .save_list_block .prod-maping_block #prod-block .le-prod_block .but-prod_detal {
    width: 40%;
    padding: 10px;
    border: 3px solid #238af3;
    border-radius: 6px;
  }
  .save-products_block .save_list_block .prod-maping_block #prod-block .le-prod_block .but-prod_detal p {
    font-size: 18px;
  }
  .save-products_block .save_list_block .prod-maping_block #prod-block .le-prod_block {
    max-width: 530px;
  }
  .save-products_block .save_list_block .prod-maping_block #prod-block .le-prod_block .big-text_product {
    font-size: 25px;
  }
  .save-products_block .save_list_block .prod-maping_block #prod-block .le-prod_block .small-text-product {
    font-size: 18px;
  }
  .save-products_block .save_list_block .prod-maping_block #prod-block .le-prod_block .le-prod_bl_bottom {
    padding: 0;
  }
  .save-products_block .save_list_block .prod-maping_block #prod-block .le-prod_block .le-prod_bl_bottom .but-prod_pocr {
    width: 40%;
    padding: 10px;
    border: 3px solid #238af3;
    border-radius: 6px;
  }
  .save-products_block .save_list_block .prod-maping_block #prod-block .le-prod_block .le-prod_bl_bottom .but-prod_pocr p {
    font-size: 18px;
  }
  .save-products_block .save_list_block .prod-maping_block #prod-block .le-prod_block .le-block_color {
    gap: 30px;
  }
  .save-products_block .save_list_block .prod-maping_block #prod-block .le-prod_block .le-block_color p {
    font-size: 18px;
    font-weight: 550;
  }
  .save-products_block .save_list_block .prod-maping_block #prod-block .le-prod_block .le-block_color .bl-color {
    width: 32px;
    height: 32px;
    border: 3px solid #DEDEDE;
    border-radius: 6px;
  }
  .save-products_block .save_list_block .prod-maping_block #prod-block .product_img {
    width: 180px;
    height: 190px;
  }
  .save-paper_block {
    display: flex;
    align-items: center;
    max-height: 1100px;
  }
  .save-paper_block .save-articles_block {
    width: 1000px;
  }
  .save-paper_block .save_list_block {
    width: 1000px;
  }
  .save-paper_block .save_list_block .block-new_info {
    height: 420px;
    margin-bottom: 30px;
    padding: 30px;
    box-shadow: inset 0px -250px 120px 0px rgba(0, 0, 0, 0.85);
  }
  .save-paper_block .save_list_block .block-new_info .info-block_left {
    max-width: 600px;
  }
  .save-paper_block .save_list_block .block-new_info .info-block_left .news-text_title {
    font-size: 25px;
  }
  .save-paper_block .save_list_block .block-new_info .info-block_left .news-text_description {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .save-paper_block .save_list_block .block-new_info .info-block_left .news-text_date {
    font-size: 25px;
  }
  .save-paper_block .save_list_block .block-new_info .info-block_right img {
    width: 47px;
    height: 47px;
  }
}/*# sourceMappingURL=style.css.map */