/*html {
  background-color: #1c1b18;
  color: #eae0c2;
  font-size: 15px;
  font-family: Arial;
} */
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  list-style-type: none;
  text-decoration: none;
  font-family: "Montserrat", serif;
  border: none;
  outline: none;
}

.search-engine {
  background: rgba(255, 255, 255, 0);
}

.containerAlpha {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
}

.buttonClass {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: Arial;
  width: 140px;
  height: 50px;
  border-width: 2px;
  color: #505739;
  border-color: #333029;
  font-weight: bold;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 1px 0px 0px #1c1b18;
  text-shadow: 0px 1px 0px #ffffff;
  background: linear-gradient(#eae0c2, #ccc2a6);
}

.buttonClass:hover {
  background: linear-gradient(#ccc2a6, #eae0c2);
}

.buttonClass:active {
  width: 130px;
  height: 45px;
}

.titleInput {
  padding: 10px;
  border-radius: 15px;
  background-color: #333029;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.input {
  font-size: 18px;
  padding: 5px 10px;
  width: 100%;
  outline: none;
  background-color: #1c1b18;
  color: #eae0c2;
  border: 1px solid #eae0c2;
  border-radius: 5px;
  transition: 0.3s ease;
}

.input:focus {
  background: #1c1b18;
  border: 1px solid #eae0c2;
  border-radius: 10px;
}

.input::-moz-placeholder {
  color: rgba(234, 224, 194, 0.6235294118);
  font-style: italic;
}

.input::placeholder {
  color: rgba(234, 224, 194, 0.6235294118);
  font-style: italic;
}

#editorjs {
  width: 100%;
}

.codex-editor__redactor {
  padding-left: 0;
  padding-top: 25px !important;
  padding-bottom: 150px !important;
}

.ce-block__content {
  max-width: 100%;
}

.ce-toolbar__content {
  max-width: 100%;
}

.buttonContainer {
  padding: 10px;
  border-radius: 15px;
  background-color: #333029;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.article-actions,
.article-actions * {
  display: flex;
  flex-direction: row;
}

.article-actions {
  padding: 10px;
}

.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.imageEditor {
  height: 300px;
}

.main-block {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.main-block .header {
  display: flex;
  flex-direction: column;
}
.main-block .header .head-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.main-block .header .head-block .number-text {
  font-weight: 600;
  color: #252774;
}
.main-block .header .search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.main-block .header .search .sear-block {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 70%;
  background: #F1F1F1;
  padding: 8px;
  border-radius: 8px;
}
.main-block .header .search .sear-block .search-engine {
  width: 100%;
  font-weight: 500;
}
.main-block .header .search .location {
  display: flex;
  align-items: center;
}
.main-block .header .search .location .loca-city_text {
  font-size: 8px;
  font-weight: 600;
  color: #252774;
}
.main-block .header .auth-block {
  display: flex;
  justify-content: space-between;
  background: #8BC0F6;
  padding: 0px 25px;
}
.main-block .header .auth-block .le-auto_block {
  padding: 5px 0px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-block .header .auth-block .le-auto_block .text-auth {
  color: #ffffff;
  font-weight: 600;
}
.main-block .header .auth-block .le-auto_block .intro-text {
  color: #ffffff;
  font-size: 8px;
}
.main-block .header .auth-block .le-auto_block .entrance-bottom {
  width: 50%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 4px 10.5px rgba(255, 255, 255, 0.2);
}
.main-block .header .auth-block .le-auto_block .entrance-bottom .ent-text {
  color: #8BC0F6;
  font-weight: 500;
  font-size: 8px;
}
.main-block .menu {
  width: 110%;
  display: flex;
  gap: 15px;
  padding: 10px;
}
.main-block .menu #menu-block {
  width: 68px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #238af3;
  border-radius: 8px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.main-block .menu #menu-block .text-bm {
  color: #ffffff;
  font-weight: 600;
}
.main-block .products {
  width: 180%;
  display: flex;
  padding: 10px;
  gap: 15px;
}
.main-block .products #prod-block {
  display: flex;
  border-radius: 8px;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  gap: 10px;
}
.main-block .products #prod-block .le-prod_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-block .products #prod-block .le-prod_block .big-text_product {
  color: #238af3;
  font-weight: 600;
}
.main-block .products #prod-block .le-prod_block .small-text-product {
  font-size: 8px;
  color: #8BC0F6;
}
.main-block .products #prod-block .le-prod_block .but-prod_detal {
  width: 45%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #238af3;
  border-radius: 3px;
}
.main-block .products #prod-block .le-prod_block .but-prod_detal p {
  color: #238af3;
  font-size: 8px;
  font-weight: 600;
}
.main-block #text-name_prod {
  font-weight: 600;
  color: #252774;
  padding: 10px;
}
.main-block .partners {
  width: 110%;
  display: flex;
  padding: 10px;
  gap: 15px;
}
.main-block .partners #part-block {
  border-radius: 8px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}
.main-block .questions {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
}
.main-block .questions .ques-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  gap: 15px;
}
.main-block .questions .ques-block .ques-text {
  font-size: 8px;
  color: #252774;
  font-weight: 500;
}
.main-block .application {
  display: flex;
  flex-direction: column;
  background: #252774;
  justify-content: space-between;
  padding: 10px 20px 30px 20px;
  gap: 15px;
}
.main-block .application .appli-text {
  display: flex;
  padding: 10px;
  justify-content: center;
  font-weight: 500;
  color: #ffffff;
}
.main-block .application .fillong-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-block .application .fillong-fields #fill-text {
  font-weight: 500;
  color: #ffffff;
}
.main-block .application .fillong-fields .fill-engine {
  padding: 8px;
  border-radius: 8px;
}
.main-block .application .checkbox-block {
  display: flex;
  gap: 15px;
  padding: 10px;
}
.main-block .application .checkbox-block .check-text {
  color: #ffffff;
}
.main-block .application .appli-block {
  display: flex;
  justify-content: center;
}
.main-block .application .appli-block .appli-button {
  padding: 7px 35px;
  border: 1.5px solid #ffffff;
  border-radius: 3px;
}
.main-block .application .appli-block .appli-button p {
  color: #ffffff;
  font-weight: 500;
}
.main-block .maps {
  height: 180px;
  background: #238af3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-block .footer {
  display: flex;
  flex-direction: column;
  background: #252774;
  padding: 10px 20px;
  gap: 15px;
}
.main-block .footer .foot-top {
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #363888;
}
.main-block .footer .foot-top .oper-text {
  color: #ffffff;
  font-weight: 500;
}
.main-block .footer .foot-middle {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #363888;
  gap: 20px;
}
.main-block .footer .foot-middle #foot-elemets {
  display: flex;
  align-items: center;
  gap: 15px;
}
.main-block .footer .foot-middle #foot-elemets #middle-text {
  color: #ffffff;
  font-size: 8px;
  font-weight: 500;
}
.main-block .footer .foot-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.main-block .footer .foot-bottom #bottom-text {
  font-size: 8px;
  font-weight: 500;
  color: #D0D0D0;
}/*# sourceMappingURL=style.css.map */