html {
  background-color: #1c1b18;
  color: #eae0c2;
  font-size: 15px;
  font-family: Arial;
}
.containerAlpha {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
}
.buttonClass {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: Arial;
  width: 140px;
  height: 50px;
  border-width: 2px;
  color: #505739;
  border-color: #333029;
  font-weight: bold;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 1px 0px 0px #1c1b18;
  text-shadow: 0px 1px 0px #ffffff;
  background: linear-gradient(#eae0c2, #ccc2a6);
}

.buttonClass:hover {
  background: linear-gradient(#ccc2a6, #eae0c2);
}
.buttonClass:active {
  width: 130px;
  height: 45px;
}
.titleInput {
  padding: 10px;
  border-radius: 15px;
  background-color: #333029;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.input {
  font-size: 18px;
  padding: 5px 10px;
  width: 100%;
  outline: none;
  background-color: #1c1b18;
  color: #eae0c2;
  border: 1px solid #eae0c2;
  border-radius: 5px;
  //box-shadow: 3px 3px 2px 0px #eae0c2;
  transition: 0.3s ease;
}

.input:focus {
  background: #1c1b18;
  border: 1px solid #eae0c2;
  border-radius: 10px;
}

.input::placeholder {
  color: #eae0c29f;
  font-style: italic;
}
#editorjs {
  width: 100%;
}
.codex-editor__redactor {
  padding-left: 0;
  padding-top: 25px !important;
  padding-bottom: 150px !important;
}
.ce-block__content {
  max-width: 100%;
}
.ce-toolbar__content {
  max-width: 100%;
}
.buttonContainer {
  padding: 10px;
  border-radius: 15px;
  background-color: #333029;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
